<section id="contacts" class="contacts-container">
    <h3 class="title"> Contatos</h3>
    <form action="/submit" method="post" class="form-container">
        <label for="name-input">Nome:
          <input type="text" class="input" id="name-input" name="name-input" required>
        </label>
        <label for="email-input">E-mail:
            <input type="text" class="input" id="email-input" name="email-input" required>
        </label>
    
        <label for="textField">Digite sua mensagem:
            <textarea id="textField" name="textField" rows="4" required></textarea>
        </label>
    
        <button type="submit">Enviar</button>
      </form>
    
</section>
