<header>
    <div class="logo">
        <!--* Quando for editar troque pelo logo da empresa *-->
      <i class="fa-solid fa-cube"></i>
    </div>
    <nav class="nav">
        <ul class="menu">
            <li>Início</li>
            <li>Sobre Nós</li>
            <li>Contact</li>
        </ul>
    </nav>
    <div class="icon-container">
        <!--* Quando for editar troque pelos links da empresa *-->
        <ul>
            <li>
                <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/?locale=pt_BR"><i class="fa-brands fa-facebook"></i></a>
            </li>
        </ul>
    </div>
</header>
